alabaster==0.7.12
altgraph==0.10.2
appnope==0.1.0
arabic-reshaper==2.0.14
asn1crypto==0.24.0
astunparse==1.6.2
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bdist-mpkg==0.5.0
bleach==1.5.0
bonjour-py==0.3
certifi==2017.1.23
cffi==1.11.5
configobj==5.0.6
configparser==3.5.0
coverage==4.5.2
cryptography==2.5
cycler==0.10.0
decorator==4.0.11
docutils==0.14
egi==0.9.0
entrypoints==0.2.2
enum34==1.1.6
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.0.0.post6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
greenlet==0.4.15
html5lib==0.9999999
idna==2.8
imageio==2.4.1
imagesize==1.1.0
ioLabs==3.2
ipaddress==1.0.22
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
jdcal==1.4
Jinja2==2.9.5
json-tricks==3.12.2
jsonschema==2.6.0
jupyter-client==4.4.0
jupyter-core==4.3.0
kiwisolver==1.0.1
lxml==4.3.0
macholib==1.5.1
MarkupSafe==0.23
matplotlib==2.2.3
mistune==0.7.3
modulegraph==0.10.4
more-itertools==5.0.0
moviepy==0.2.3.5
msgpack-python==0.5.6
nbconvert==5.1.1
nbformat==4.2.0
nose==1.3.7
notebook==4.4.1
numexpr==2.6.9
numpy==1.16.0
oauthlib==2.0.1
opencv-python==4.1.1.26
openpyxl==2.5.14
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.4.1
pluggy==0.8.1
prompt-toolkit==1.0.13
psutil==5.5.0
PsychoPy==3.0.0
psychopy-ext==0.6.0.4
ptyprocess==0.5.1
py==1.7.0
py2app==0.7.3
pycparser==2.19
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
pylsl==1.12.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyOSC==0.3.6.post6382
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.3.1
pyserial==3.4
PySoundCard==0.5.2
PySoundFile==0.9.0.post1
pytest==4.1.1
python-bidi==0.4.0
python-dateutil==2.7.5
python-gitlab==1.7.0
pytz==2013.7
PyYAML==3.13
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.12.4
requests-oauthlib==0.7.0
scandir==1.4
scipy==1.2.0
seaborn==0.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smmap2==2.0.5
snowballstemmer==1.2.1
sounddevice==0.3.12
SoundFile==0.10.2
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
subprocess32==3.5.3
tables==3.4.4
terminado==0.6
testpath==0.3
tornado==4.4.2
tqdm==4.29.1
traitlets==4.3.1
tweepy==3.5.0
typing==3.6.6
wcwidth==0.1.7
widgetsnbextension==1.2.6
wxPython==4.0.4
xattr==0.6.4
xlrd==1.2.0
youtube-dl==2018.12.9
zmq==0.0.0
zope.interface==4.1.1
